<!DOCTYPE html>
<html>
  <head>
    <title>Pytia - wyszukiwanie dokumentów</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/custom.css">
    <script src="static/jquery-1.6.4.min.js"></script>
    <script src="static/jquery.smart_autocomplete.js"></script>
    <script src="static/bootstrap-twipsy.js"></script>
    <script src="static/bootstrap-popover.js"></script>
    <script src="static/custom.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>
            <a href='/'>Pytia</a>
            <small>wyszukiwarka dokumentów</small>
          </h1>
        </div>
        <form>
          <input id='search' type='search' class="span8" placeholder="Szukaj..." name='search' value="{{ query }}" />
          <input type='submit' value='Szukaj' class="btn"/>
        </form>
        <a href="/clusters" class="btn info">Pokaż klastry</a>
        {% block body %}{% endblock %}
      </div>
      <footer>
        <p>&copy; Krzysztof Urban &amp; Tomasz Ziętkiewicz 2011</p>
      </footer>
    </div>
  </body>
</html>
