<!DOCTYPE html>
<html>
  <head>
    <title>Kandelabr - wyszukiwanie dokumentów</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/custom.css">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>
            Kandelabr
            <small>wyszukiwarka dokumentów</small>
          </h1>
        </div>
        <form action=''>
          <input type='search' class="span8" placeholder="Szukaj..." name='search' value="{{ query }}" />
        </form>
        {% if found is not none %}
          {% if not found %}
            <div class="alert-message block-message info">
              <p><strong>Brak wyników dla podanego zapytania.</strong></p>
              <p>Zmień zapytanie i spróbuj ponownie.</p>
            </div>
          {% else %}
          <table>
            <thead>
              <tr>
                <th>Tytuł</th>
                <th>Podobieństwo</th>
              </tr>
            </thead>
            <tbody>
              {% for item in found %}
              <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        {% endif %}
      </div>
      <footer>
        <p>&copy; Krzysztof Urban &amp; Tomasz Ziętkiewicz 2011</p>
      </footer>
    </div>
  </body>
</html>
